html {
    height: 100%;
}
:root {
    --darkBlue: linear-gradient(rgb(0, 31, 78), rgb(0, 19, 41));
    --lightBlue: rgba(26,124,185,255);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}
input {
    text-align: initial;
    padding: 4px 0px 2px 6px;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    font-size: 16px;
}
input[type='checkbox'] {
    border: 2px rgb(6, 0, 43) solid;
    border-radius: 30px;
    width: 50px;
    height: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
input[type='checkbox']:checked {
    background-color: rgb(1, 111, 161);
}
.container {
    height: 100vh;
    background: linear-gradient(rgb(23, 65, 105), rgb(1, 46, 66));
}
.header {
   height: 15%; 
   font-family: Earth, Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   align-items: center;
   color: var(--lightBlue);
   background: var(--darkBlue);
}
.header img {
    max-width: 100px;
}
.library { 
   height: 85%; 
   display: grid;
   grid-template: 300px / 250px;
   grid-auto-flow: column;
   grid-auto-rows: 300px;
   grid-auto-columns: 250px;
}
.bookBlock,
.container,
.form,
.form-label {
    flex-flow: column nowrap;
    display: flex;
}
.form {
    width: 300px;
    row-gap: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 30vh;
    opacity: 1;
    transition: opacity cubic-bezier(0.755, 0.8, 0.855, 0.9) 300ms;
    background: white;
    padding: 15px;
}
.form.hidden {
    opacity: 0;
    visibility: hidden;
}
.form-label {
    align-items: flex-start;
    row-gap: 2px;
}
#formclick {
    position: absolute;
    color: rgb(0, 39, 49);
    left: 92vw;
    top: 85vh;
    font-size: 45px;
    border: rgb(0, 39, 49) solid 2px;
    padding: 0px 15px 5px;
    border-radius: 50%;
    background:rgb(50, 224, 255) 
}
#formclick:hover {
    cursor: pointer;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1) plusbutton 1s forwards;
}
.bookBlock {
    margin: 50px 0px 0px 50px;
    border: double 5px var(--lightBlue);
    justify-content: start;
    background: var(--darkBlue);
    font-family: President, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: var(--lightBlue);
    padding: 15px;
}
.bookBlock #newTitle {
    font-style: italic;
    font-size: 30px;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.bookBlock #newAuthor,
.bookBlock #newPages {
    font-size: 24px;
    position: relative;
    top: 10px;
}
.bookBlock input[type='checkbox'] {
    position: relative;
    top: 30px;
    border-color: white;
}
.bookBlock img {
    width: 50px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 50px;
}

/* Animations */
@keyframes plusbutton {
    100% {
        transform: scale(1.05) rotate(45deg);
    }
}

/* Fonts */
@font-face {
    font-family: Earth;
    src: url(./resources/earth-orbiter/earthorbiter.ttf);
}
@font-face {
    font-family: President;
    src: url(./resources/AccidentalPresidency.ttf);
}